# Ігнорувати системні файли
.DS_Store

# Ігнорувати конфігурацію IDE (JetBrains IDEA)
.idea/

# Ігнорувати папку збірки
cmake-build-debug/

# Ігнорувати об’єктні файли
*.o

# Ігнорувати виконувані файли
*.exe
*.out

# Ігнорувати логи
*.log
*.tmp

# Ігнорувати файли CMake кешу
CMakeCache.txt

# Ігнорувати файли з даними
data/